@use "@/assets/_styles" as styles

.header
    @include styles.block-flex(100%, column)
    background-color: #048399

.top
    width: 90%
    z-index: 80
    @include styles.top-pinned-header(7rem, styles.$metallic-seaweed)

    @media (max-width: styles.$small-screen) 
        grid-template-columns: 1fr
    

    &__logo
        height: 4rem

    &__logoLink
        @include styles.link(styles.$cherry-blossom-pink)

        p
            margin: 0
            font-size: 1rem
            font-weight: styles.$bold
            text-align: center

    &__deliveryRegion
        width: 100%
        color: styles.$banana-yellow
        text-align: left

        p
            color: white
            padding-bottom: 5px

    &__searchContainer
        position: relative
        @media (max-width: styles.$small-screen) 
            width: 100%
        

        &__input
            @include styles.search-bar(styles.$midnight-green)

        &__button
            position: absolute
            top: 50%
            right: 0
            transform: translate(0, -50%)
            background-color: white
            color: styles.$metallic-seaweed
            font-size: 1.2rem
            border: none
            padding: 0.5rem
            border-radius: 0.66rem
            cursor: pointer

    &__login
        @include styles.login-icon

    &__cart
        @include styles.cart-icon

.navbar
    top:0
    height: 2rem
    z-index: 100
    position: fixed
    margin-top: 7rem
    background-color: styles.$cherry-blossom-pink
    @include styles.block-flex(100%, row)

    & button
        @include styles.button