// Colors
$dark-green: #021E20
$turkish-rose: #B96B85
$banana-yellow: #FDD835
$jesus-bgcolor: #72b7c2
$body-bgcolor: #72b7c246
$midnight-green: #005067
$metallic-seaweed: #048399
$cherry-blossom-pink: #FEB9C6
$main-bgcolor: rgba(255, 255, 255, 0.7)

// Fonts
$montserrat: 'Montserrat', sans-serif

$bold: 800
$light: 300
$normal: 500
$medium: 600
$lighter: 100

// Screen Size
$small-screen: 480px
$medium-screen: 768px
$large-screen: 1024px

// Mixin

   //Font
@mixin link($color)
  text-decoration: none
  color: $color

@mixin light-italic
  font-weight: 100
  font-style: italic

@mixin medium-italic
  font-weight: 600
  font-style: italic

@mixin outline-text($color)
  text-shadow: -1px 0px 0px $color, 0px -1px 0px $color, 1px 0px 0px $color, 0px 1px 0px $color

  //flex
@mixin block-flex($width, $direction)
  width: $width
  display: flex
  align-items: center
  justify-items: center
  flex-direction: $direction
  justify-content: space-around

  //grid
@mixin inline-grid($columns)
  width: 100%
  display: grid
  text-align: center
  align-items: center
  justify-content: space-around
  grid-template-columns: $columns
  grid-template-rows: repeat(auto-fit)


//responsive
@mixin flex-wrap($margin)
  width: calc(100% - $margin)
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: space-around

  //header & footer
@mixin login-icon
  line-height: 0
  text-align: center
  font-size: 2.5rem
  color: white
  margin: 0

@mixin cart-icon
  line-height: 0

  p
    text-align: center
    font-size: 2rem
    color: white
    margin: 0

  p:first-child
    z-index: 1
    font-size: 1rem
    color: $banana-yellow
    text-decoration: none

@mixin top-pinned-header($height, $bgcolor)
    top: 0
    height: $height
    position: fixed
    background-color: $bgcolor
    @include inline-grid(1fr 1fr 8fr 0.5fr 0.5fr)

@mixin search-bar($color)
  width: calc(100% - 60px)
  border: none
  color: $color
  height: 2.5rem
  font-size: 1rem
  padding: 0 1.3rem
  border-radius: 0.66rem

@mixin bottom-pinned-footer()
  bottom: 0
  height: 4rem
  position: fixed
  background-color: $midnight-green
  @include inline-grid(repeat(3, 1fr))
