// Colors
$dark-green: #021E20
$turkish-rose: #B96B85
$banana-yellow: #FDD835
$jesus-bgcolor: #72b7c2
$body-bgcolor: #72b7c246
$midnight-green: #005067
$metallic-seaweed: #048399
$cherry-blossom-pink: #FEB9C6

// Fonts
$montserrat: 'Montserrat', sans-serif

$bold: 800
$light: 300
$normal: 500
$lighter: 100

// Screen Size
$small-screen: 480px
$medium-screen: 768px
$large-screen: 1024px

// Mixin
@mixin inline-flex($spacing)
  left: 0
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: $spacing

@mixin block-flex($width)
  left: 0
  width: $width
  display: flex
  align-items: center
  justify-items: center
  flex-direction: column

@mixin light-italic
  font-weight: 100
  font-style: italic

@mixin medium-italic
  font-weight: 600
  font-style: italic

@mixin centered-grid()
  display: grid
  border-radius: 10px
  align-items: center
  justify-items: center
  margin: 2rem 1rem 1rem
  background-color: rgba(255, 255, 255, 0.7)
