@use '@/assets/_styles.sass' as styles

.form
    width: 100%
    text-align: left
    color: white

    &__signin
        position: fixed
        background-color: styles.$turkish-rose
        top: 9rem
        right: 0
        max-width: 330px
        padding: 1rem
        border-radius: 0 0 0 20px

    & div
        display: flex
        margin: 10px 0
        flex-direction: column

    & input
        border: none
        border-radius: 5px
        font-size: 0.8rem
        padding: 5px

    & select
        border: none
        border-radius: 5px
        font-size: 0.8rem
        padding: 5px

    & button
        text-align: center
        padding: 0 20px
        @include styles.button

.text-danger
    color: styles.$banana-yellow
    font-size: 0.8rem
