@use "@/assets/_styles" as styles
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,800;1,100;1,600&display=swap')

*
    font-family: styles.$montserrat
    margin: 0
    padding: 0

body
    margin: 0 auto
    max-width: 13s0rem
    background-color: styles.$jesus-bgcolor
    font-size: 1rem

.visually-hidden
    display: none

main
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    align-content: center
    justify-content: center
    margin-bottom: 100px
    @include styles.block-flex(100%)
    color: styles.$turkish-rose

    &.home h1
        width: 100%
        margin: 1.3rem 3rem 0 0
        text-align: right
        @include styles.medium-italic
        color: styles.$banana-yellow

    .home__display
        width: 100%

        &__triple
            width: 100%
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr))

@media (max-width: 768px)

    //width: 20rem
